table {
  width: 100%;
  margin-top: 10px;
}
.msgVoid{
  margin: 10px 0px;
  text-align: center;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.right{
  text-align: right;
}
th {
  width: 20%;
}
.cursor-pointer {
  cursor: pointer;
}

.c-search{
  color: #1878b0;
}
.c-edit{
  color: #1f516f;
}
.c-delete{
  color: #e15639
}
