<div class="container">
  <mat-toolbar>
    <span>Usuarios</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" routerLink="/dashboard/crear-usuario">Crear Usuario</button>
  </mat-toolbar>

  <div *ngIf="listUsuarios.length > 0; else SinUsuarios">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
  
    <div class="mat-elevation-z5">
      <table mat-table [dataSource]="dataSource"  matSort>
  
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Usuario Column -->
        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
        </ng-container>
      
        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
      
        <!-- Apellido Column -->
        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
          <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
        </ng-container>
      
        <!-- Sexo Column -->
        <ng-container matColumnDef="sexo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </th>
          <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
        </ng-container>
    
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef ></th>
          <td mat-cell *matCellDef="let element; let i = index" class="right">
            <a class="cursor-pointer c-search" matTooltip="Ver usuario">
              <mat-icon>search</mat-icon>
            </a>
            <a class="cursor-pointer c-edit" matTooltip="Editar usuario">
              <mat-icon>edit</mat-icon>
            </a>
            <a class="cursor-pointer c-delete" (click)="eliminarUsuario(i)" matTooltip="Borrar usuarios">
              <mat-icon>delete</mat-icon>
            </a>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No se encuentra valor para el filtro "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
  
  <ng-template #SinUsuarios>
      <h2 class="msgVoid">
        No hay usuarios para mostrar
      </h2>
  </ng-template>
  
</div>